	<table class="table table-bordered table-hover">
		<tr>
			<th width="15%">配置说明</th>
			<th width="70%">配置值</th>
			<th width="15%">配置名称</th>
		</tr>
		<volist name="list" id="row">
			<tr>
				<td>{$row.tips}</td>
				<td><input type="text" class="input-xxlarge" style="width: 95%" value="{$row.value}" name="{$row.name}"></td>
				<td><span class="label label-info font16">{$row.name}</span></td>
			</tr>
		</volist>
	</table>
<div class="pagination page">
	<ul>
		{$page}
	</ul>
</div>
<input type="hidden" id="url" value="/admin/settings/save">