<!DOCTYPE html>
<html>
<head>
	<title>
		<block name="title"></block>
		- {$settings.sitename}
	</title>
	<meta charset="UTF-8">
	<meta name="keywords" content="{$settings.keywords}">
	<meta name="description" content="{$settings.description}">
	<link href="/resource/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/resource/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/resource/css/style.css" rel="stylesheet">
	<block name="css"></block>
</head>
<body>
<header>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand en" href="/">Just Think</a>

				<div class="nav-collapse collapse">
					<ul class="nav">
						<volist name="category" id="row">
							<li><a href="{:U('home/category/'.$row['alias'])}" title="{$row.name}"><i class="icon-star"></i> {$row.name}</a></li>
						</volist>
					</ul>
					<ul class="nav pull-right">
						<li>
							<form action="{:U('/home/search')}" method="get" class="form-inline form-search" style="margin: 8px 0">
								<fieldset>
									<div class="input-append">
										<input type="text" maxlength="20" required="" placeholder="输入关键词,长度必须大于5" pattern="[\w]{5,}" class="search-query" autocomplete="off" name="keywords" id="keywords">
										<button type="submit" class="btn"><i class="icon-search"></i></button>
									</div>
								</fieldset>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span7">
			<block name="left">
			</block>
		</div>
		<div class="span4 right">
			{:W('Right/right')}
		</div>
	</div>
	<footer class="navbar-fixed-bottom text-center">&copy; 2014 xialeistudio.net</footer>
	<script src="/resource/jquery/jquery-1.8.3.min.js"></script>
	<script src="/resource/bootstrap/js/bootstrap.min.js"></script>
	<block name="js">
	</block>
</body>
</html>