<extend name="Public/base" />
<block name="title">
</block>
<block name="nav">
	<volist name="category" id="row">
		<li><a href="{:U('home/category/'.$row['alias'])}" title="{$row.name}"><i class="icon-star"></i> {$row.name}</a></li>
	</volist>
</block>
<block name="body">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span7">
				<!--body-->
				<volist name="list" id="row">
					<article class="item">
						<h4><a href="/home/article/{$row.alias}">{$row.title}</a> <span class="label label-important"><i class="icon-eye-open"></i> {$row.hits}</span></h4>
						<p><i class="icon-calendar"></i> {$row.timestamp|date='Y-m-d',###} 分类：<a href="/home/category/{$row.category_id|getCategoryAlias}">{$row.category_id|getCategory}</a></p>
						<p>{$row.description}</p>
					</article>
				</volist>
			</div>
			<div class="span4">
				<!--info-->
			</div>
		</div>
	</div>
</block>
<block name="js">
	<script src="/resource/js/home.js"></script>
</block>